<h1>Criar produto</h1>
<form action="/create" method="POST">
    <div class="form-control">
        <label for="name">Nome do produto:</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="price">Preço do produto:</label>
        <input type="text" name="price" placeholder="Digite o preço">
    </div>
    <div class="form-control">
        <label for="description">Descrição do produto:</label>
        <textarea name="description" placeholder="Descrição do produto"></textarea>
    </div>
    <div class="form-control">
        <label for="image">Imagem:</label>
        <input type="text" name="image" placeholder="Insira a URL da imagem" />
    </div>
    <input type="submit" class="btn" value="Enviar">
</form>