* {
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.form {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input {
  padding: 5px;
}
