<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js + MongoDB</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/products/">Produtos</a></li>
        <li><a href="/products/create">Criar</a></li>
      </ul>
    </nav>
    <div class="container">
      {{{ body }}}
    </div>
  </body>
</html>
