<h1>Criando uma task</h1>
<form action="/tasks/add" method="POST">
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="O que você vai fazer?">
  </div>
  <div class="form-control">
    <label for="description">Descrição:</label>
    <textarea type="text" name="description" placeholder="O que você vai fazer?"></textarea>
  </div>
  <input type="submit" value="Criar">
</form>