<h1>Editando a task: {{task.title}}</h1>
<form action="/tasks/edit" method="POST">
  <input type="hidden" name="id" value={{task.id}}>
  <div class="form-control">
    <label for="title">Título:</label>
    <input type="text" name="title" placeholder="O que você vai fazer?" value="{{task.title}}">
  </div>
  <div class="form-control">
    <label for="description">Descrição:</label>
    <textarea type="text" name="description" placeholder="O que você vai fazer?">{{task.description}}</textarea>
  </div>
  <input type="submit" value="Editar">
</form>