<h1>Criar produto</h1>
<form action="/create" method="POST">
    <div class="form-control">
        <label for="name">Nome do produto:</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
    <input type="submit" value="Enviar">
</form>