<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <nav id="navbar">
      <h2>Node Todo</h2>
      <ul>
        <li><a href="/tasks">Ver todas</a></li>
        <li><a href="/tasks/add">Criar</a></li>
      </ul>
    </nav>
    <div class="container">
      {{{ body }}}
    </div>
  </body>
</html>
