<div class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>
    <h1>Criando um Pensamento:</h1>
    <form action="/toughts/add" method="POST">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Digite o título">
        </div>
        <input type="submit" value="Criar Pensamento">
    </form>
</div>