.pet_home_header {
  margin-bottom: 2em;
}

.pet_home_header h1 {
  margin-bottom: 0.3em;
}

.pet_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.pet_card {
  width: 22%;
  margin: 1.5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pet_card_image {
  background-size: cover;
  background-position: center;
  height: 225px;
  width: 100%;
  margin-bottom: 1.2em;
}

.pet_card h3 {
  color: #16479d;
  margin-bottom: 1em;
  font-size: 1.6em;
  padding: 8px;
}

.pet_card p {
  margin-bottom: 1em;
}

.pet_card a {
  border-radius: 8px;
  color: #16479d;
  background-color: #ffd400;
  border: none;
  min-width: 100px;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

.pet_card a:hover {
  background-color: #e7c30d;
  color: #fff;
}

.adopted_text {
  font-weight: bold;
  color: #25b456;
  padding: 15px;
}
