* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  padding: 1em 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db4c3f;
  color: #fff;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 450px;
  margin: 2em auto;
}

.container form {
  margin-top: 1.5em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form input[type='submit'] {
  background-color: #db4c3f;
  color: #fff;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.task-list {
  list-style: none;
  margin-top: 1em;
}

.task-list li {
  padding: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}

.task-list .title {
  font-weight: bold;
  color: #db4c3f;
  transition: 0.5s;
  font-size: 1.2em;
}

.task-list .title:hover {
  color: #333;
}

.actions {
  display: flex;
}

.actions i {
  font-size: 1.5em;
  margin-right: 0.6em;
  color: #333;
}

.actions i:hover {
  color: #db4c3f;
}

.actions form {
  margin: 0;
}

.actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title.done {
  text-decoration: line-through;
  color: #ccc;
}
