<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toughts</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- BOOTSTRAP ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <img src="/img/toughts_logo.png" alt="Toughts">
      </a>
      <ul>
        <li><a href="/">Pensamentos</a></li>
        {{#if session.userid}}    
          <li><a href="/toughts/dashboard">Dashboard</a></li>
          <li><a href="/logout">Sair</a></li>
        {{else}}
          <li><a href="/login">Entrar</a></li>
          <li><a href="/register">Registrar</a></li>
        {{/if}}
      </ul>
    </nav>
    <div class="container">
      {{#if messages.message}}
        <div class="message">
          {{messages.message}}
        </div>
      {{/if}}
      {{#if message}}
        <div class="message">
          {{message}}
        </div>
      {{/if}}
      {{{ body }}}
    </div>
    <footer>
      <p><span>Toughts</span> &copy; 2021</p>
    </footer>
  </body>
</html>
