<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar usuário</title>
  </head>
  <body>
    <h1>Adicione um usuário:</h1>
    <form action="/users/save" method="POST">
      <div>
        <input type="text" name="name" placeholder="Digite um nome" />
      </div>
      <div>
        <input type="text" name="age" placeholder="Digite a idade" />
      </div>
      <div>
        <input type="submit" value="Cadastrar" />
      </div>
    </form>
  </body>
</html>
