* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  padding: 1em 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db4c3f;
  color: #fff;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
}
