.navbar {
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
  padding: 1em;
  margin-bottom: 1em;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-right: 1em;
}

.navbar li a {
  color: #000;
  text-decoration: none;
}
