.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7em 1.2em;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li {
  margin-right: 1em;
}
