<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite o seu e-mail">
        </div>
            <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a sua senha">
        </div>
        <input type="submit" value="Entrar">
        <p>Não tem conta? <a href="/register">Clique aqui</a></p>
    </form>
</div>